
     

<%= link_to 'Back', posts_path %>



<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
      <%= f.label 'Текст' %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit 'OK' %>
    </p>
<% end %>