<h1>Registration</h1>
<p><strong><h3>Please enter your personal information</h3></strong></p>


<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email, placeholder: 'please enter your email' %>
  <%= f.input :password, placeholder: 'not less than 6 symbols' %>
  <%= f.submit 'Register' %>
<% end %>




<!--<%= form_for(@user) do |f| %>
 
  <div class="field">
    <strong><%= f.label :name %><br></strong>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <strong><%= f.label :email %><br></strong>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <strong><%= f.label :password %><br></strong>
    <%= f.password_field :password %>  <! #password_field hides symbols instead of text_field >
  </div>

  <div class="actions">
    <%= f.submit 'Register'%>
  </div>
<% end %> -->

