
<tr>
  <td><%= image_tag avatar_url(@user) %></td>
  <td>Author online: <strong><%= @user.name.capitalize %></strong></td>
</tr>

<hr>
<p>My posts:</p>
  <% @user.posts.each do |post| %>
    <div class="row">
      <div class="span1">
        <%= image_tag post.user.gravatar_url %>
        <p><strong><%= post.title.capitalize %></strong></p>
      </div>
      <div class="span9">
        <p class="status">
          <strong><%= post.title %></strong>
        </p>
        <p class="status">
          <%= post.body %>
        </p>
        <p class="meta-list">
          <strong>Tags:</strong>
          <%= post.tags %>
        </p>
      </div>
    </div>

    <table>
      <tr>
        <td bgcolor="#CCCC99"><%= link_to 'Show', post if current_user %></td>
        <td bgcolor="#CCCCCC"><%= link_to 'Edit', edit_post_path(post) if current_user %></td>
        <td bgcolor="#CCCCFF"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td> 
      </tr>
    </table>
<% end %>
<h3><%=  link_to 'New Post', new_post_path if current_user %></h3>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>
<hr>