<!--  <div>
  <p>Posted by <strong><%= @user.name %></strong></p>
    <%= @user.posts.each do |post| %>
      <tr>
        <td bgcolor="#CCCC00"><%= post.title %></td>
        <td bgcolor="#CCCC33"><%= post.body %></td>
        <td bgcolor="#CCCC66"><%= post.tags %></td>
        <td bgcolor="#CCCC99"><%= link_to 'Show', post if current_user %></td>
        <td bgcolor="#CCCCCC"><%= link_to 'Edit', edit_post_path(post) if current_user %></td>
        <td bgcolor="#CCCCFF"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td> 
      </tr>
    <% end %>
  <%= link_to 'Back', posts_path, class: "btn btn-primary" %> -->

  
<p>Posted by: <strong><%= @user.name.capitalize %></strong></p>
  <% @user.posts.each do |post| %>

<div class="panel panel-default">
  <div class="panel-body">
  <p><strong><%= post.title.capitalize %></strong></p>
  <p><e><%= post.body %></e></p>
  <p><strong>Tags:</strong><%= post.tags %></p>
<table>
  <tr>
      <td bgcolor="#CCCC99"><%= link_to 'Show', post if current_user %></td>
      <td bgcolor="#CCCCCC"><%= link_to 'Edit', edit_post_path(post) if current_user %></td>
      <td bgcolor="#CCCCFF"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td> 
      </tr>
    </table>
    <hr>
  </div>
</div>
<% end %>
<h3><%=  link_to 'New Post', new_post_path if current_user %></h3>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>
