<h1>Listing posts</h1>
<ul class="list-group"> 
  <li class="list-group-item active"> Author online:<%= link_to current_user.name.capitalize, user_path(current_user.id) if current_user %>
  <span class="badge">Total posts:<%= @number %></span></li>
</ul>
<hr>

<div>
  <% @posts.each do |post| %>
  <table>
        <tr>
          <td><%= image_tag avatar_url(post.user) %></td>
          <td>Posted by: <strong><%= post.user.name.capitalize if post.user %></strong></td>
        </tr>
      </table>

    <p><strong><%= post.title.capitalize %></strong></p>
    <p><%= post.body %></p>
    <p><strong>Tags:</strong><%= post.tags %></p>
     
      <table>
        <tr>
            <td bgcolor="#CCCC99"><%= link_to 'Show', post if current_user %></td>
            <td bgcolor="#CCCCCC"><%= link_to 'Edit', edit_post_path(post) if current_user %></td>
            <td bgcolor="#CCCCFF"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td> 
        </tr>
      </table>
 <hr>     

    <%= link_to "upvote", like_post_path(post), method: :put %>
    |
    <%= link_to "downvote", dislike_post_path(post), method: :put %>
    <%= post.score %>

    <p><%= link_to 'Comments', post_path(post) %>: <%= post.comments.length %></p>
     <hr> 
<% end %>

<h3><%=  link_to 'New Post', new_post_path if current_user %></h3>
</div>



