<div id='paginator'>
<%= will_paginate %>
</div>


<div class="popular">
  <%= link_to 'Show Popular', posts_path(popular: 'true') %>
  
  <%= link_to 'Last Updated', posts_path(updated: 'true') %>
</div>

<h1>Listing posts</h1>
<ul class="list-group"> 
  <li class="list-group-item active"> Author online:<%= link_to current_user.name.capitalize, user_path(current_user.id) if current_user %>
  <span class="badge">Total posts:<%= @number %></span></li>
</ul>
<hr>

<div>
  <%= render @posts %>

<h3 class='new_post'><%= link_to 'New post', new_post_path, id: 'new_post_link', remote: true if current_user %></h3>
</div>


<%= cookies[:hits] %>

<div id='paginator'>
<%= will_paginate %>
</div>