<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

<div id="nav">
	 <h3 style="color: #00ff00;"><%= link_to 'Menu', root_path %></h3> 
	 <ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" class="active"><%= link_to 'Main page', root_path %></li>
  <li role="presentation" class="active"><%= link_to 'Contacts'%></li>
  <li role="presentation" class="active"><%= link_to 'About us'%></li>
</ul>

</div>




<div id="section">
</div>
	
	<%= current_user.name if current_user%>

	<%= yield %>

	<%= render 'layouts/footer' %>

</body>
</html>
