<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

<div id="nav">
	 <h3><%= link_to 'Menu', root_path %></h3> 
	   <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active"> <%= link_to "My profile", user_path(current_user.id) if current_user %></li>
         <li role="presentation"><%= link_to 'Main page', root_path %></li>
         <li role="presentation"><%= link_to 'Contacts', contact_path%></li>
         <li role="presentation"><%= link_to 'About us', about_path%></li>
       </ul>
</div>




<div id="section">
  <%= yield %>
</div>
	

	<%= render 'layouts/footer' %>

</body>
</html>
